In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as functions
from pyspark import SparkContext

import pandas as pd

In [2]:
spark = SparkSession\
            .builder\
            .master("spark://spark-master:7077")\
            .appName("PySpark SQL")\
            .config("pyspark.python", "python3")\
            .config("spark.sql.repl.eagerEval.enabled", "true")\
            .config('spark.extraListeners', 'sparkmonitor.listener.JupyterSparkMonitorListener')\
            .config('spark.driver.extraClassPath', '/usr/local/lib/python3.7/site-packages/sparkmonitor/listener_2.11.jar')\
            .getOrCreate()

In [3]:
pdf = pd.read_csv("RKI_COVID19.csv")

In [4]:
df = spark.createDataFrame(pdf)

In [6]:
df.head()

Row(ObjectId=1, IdBundesland=1, Bundesland='Schleswig-Holstein', Landkreis='SK Flensburg', Altersgruppe='A00-A04', Geschlecht='M', AnzahlFall=1, AnzahlTodesfall=0, Meldedatum='2020/09/30 00:00:00', IdLandkreis=1001, Datenstand='30.11.2020, 00:00 Uhr', NeuerFall=0, NeuerTodesfall=-9, Refdatum='2020/09/30 00:00:00', NeuGenesen=0, AnzahlGenesen=1, IstErkrankungsbeginn=0, Altersgruppe2='Nicht Ã¼bermittelt')

In [17]:
df_split = df.withColumn("agegroup_split", F.split(F.col("Altersgruppe"), "-"))

In [24]:
df_split.select("objectId", "agegroup_split")

+--------+--------------+
|objectId|agegroup_split|
+--------+--------------+
|       1|    [A00, A04]|
|       2|    [A00, A04]|
|       3|    [A00, A04]|
|       4|    [A00, A04]|
|       5|    [A00, A04]|
|       6|    [A00, A04]|
|       7|    [A00, A04]|
|       8|    [A00, A04]|
|       9|    [A05, A14]|
|      10|    [A05, A14]|
|      11|    [A05, A14]|
|      12|    [A05, A14]|
|      13|    [A05, A14]|
|      14|    [A05, A14]|
|      15|    [A05, A14]|
|      16|    [A05, A14]|
|      17|    [A05, A14]|
|      18|    [A05, A14]|
|      19|    [A05, A14]|
|      20|    [A05, A14]|
+--------+--------------+
only showing top 20 rows

In [29]:
df_split.select("objectId", "agegroup_split")\
        .withColumn("min", F.col("agegroup_split")[0])\
        .withColumn("max", F.col("agegroup_split")[1])

+--------+--------------+---+---+
|objectId|agegroup_split|min|max|
+--------+--------------+---+---+
|       1|    [A00, A04]|A00|A04|
|       2|    [A00, A04]|A00|A04|
|       3|    [A00, A04]|A00|A04|
|       4|    [A00, A04]|A00|A04|
|       5|    [A00, A04]|A00|A04|
|       6|    [A00, A04]|A00|A04|
|       7|    [A00, A04]|A00|A04|
|       8|    [A00, A04]|A00|A04|
|       9|    [A05, A14]|A05|A14|
|      10|    [A05, A14]|A05|A14|
|      11|    [A05, A14]|A05|A14|
|      12|    [A05, A14]|A05|A14|
|      13|    [A05, A14]|A05|A14|
|      14|    [A05, A14]|A05|A14|
|      15|    [A05, A14]|A05|A14|
|      16|    [A05, A14]|A05|A14|
|      17|    [A05, A14]|A05|A14|
|      18|    [A05, A14]|A05|A14|
|      19|    [A05, A14]|A05|A14|
|      20|    [A05, A14]|A05|A14|
+--------+--------------+---+---+
only showing top 20 rows

In [30]:
spark.stop()